.slider{
    background-color: antiquewhite;
}

#displayImage{
    width: 100vw;
    height: 300px;
    /* z-index: 1; */
}
.btn{
    background-color: white;
    cursor: pointer;
}
.navImg{
    position: absolute;
    
}

#previmg{
    width: 50px;
    background-color: white;
    border-radius: 5px;
    top: 390px;
}

#nextimg{
    width: 50px;
    background-color: white;
    border-radius: 5px;
    top: 390px;
    right: 0px;
     
}
